
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  background-color: #000; 
  overflow-x: hidden;
}

/* Background Video*/
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  
}

/*Main container */
.Main {
  position: relative;
  z-index: 1;
  color: white;
}

.container-1 {
  min-height: 100vh;
  min-width: 100%;
  position: relative;
}

/*Navbar */
nav {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav header {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav-part2 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-part2 h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 30px;
  font-weight: 500;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
  color: white;
  transition: color 0.4s ease;
  cursor: pointer;
  border-color: rgb(62, 59, 59);
}

.nav-part2 h4::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  left: 0;
  bottom: -100%;
  border-radius: 50%;
  transition: 0.5s ease;
  z-index: 0;
}

.nav-part2 h4:hover::after {
  bottom: 0;
  border-radius: 30px;
}

.nav-part2 h4 a {
  text-decoration: none;
  color: inherit;
  position: relative;
  z-index: 1;
}

.nav-part2 h4:hover a {
  color: black;
}

/*Center text section */
.center {
  height: 55%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.left h3 {
  width: 80%;
  font-size: 4vh;
  line-height: 2rem;
  padding-left: 1rem;
  color: white;
  padding: 10px;
  border-radius: 10px;
  background: none;
}

.center h1 {
  font-size: 10vh;
  line-height: 12vh;
  text-align: right;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-radius: 10px;
}

.right h1 {
  padding-right: 1rem;
  background: none;
}

/*Dallo animation section */
.dallo-house {
  position: absolute;
  right: 0px;
  top: 20%;
}

.dallo1 {
  background-color: #FE320A;
  height: 100%;
  width: 100%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  filter: blur(10px);
  position: absolute;
}

.dallo2 {
  height: 80vh;
  width: 80vh;
  border-radius: 50%;
  background: linear-gradient(#e80b0b, #fe530af5);
  position: absolute;
  filter: blur(20px);
  animation-name: hlo2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.dallo3 {
  height: 80vh;
  width: 80vh;
  border-radius: 50%;
  background: linear-gradient(#e80b0b, #fa0b07);
  position: absolute;
  filter: blur(25px);
  animation-name: hlo;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes hlo2 {
  from {
    transform: translateX(55%, -3%);
  }
  to {
    transform: translateX(60%, 10%);
  }
}

@keyframes hlo {
  from {
    transform: translate(5%, 5%);
  }
  to {
    transform: translate(20%, 30%);
  }
}
